.game {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.description {
  font-size: 18px;
  margin-top: 10px;
}

.grid {
  margin-top: 20px;
  width: 300px;
  height: 225px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.country {
  margin-top: 20px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  width: 300px;
  border-radius: 8px;
  border: 2px solid #e9cfa6;
}

.inner-country {
  outline: none;
  border: none;
}

.green {
  background-color: green;
}

.submit {
  margin-top: 20px;
  color: #474747;
  background-color: #e9cfa6;
  font-size: 18px;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.disabled {
  cursor: default;
}

.guesses {
  margin-top: 25px;
  font-size: 18px;
  text-align: center;
}

.guess-wrapper {
  display: flex;
  width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;

  &.filled {
    background-color: #f0dfc4;
  }

  .guess-icon {
    width: 50px;

    &.filled {
      background-color: #f0dfc4;
    }
  }

  .guess-text {
    width: 250px;
  }
}

.panel {
  position: absolute;
  width: 100px;
  height: 75px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #474747;
}

.light {
  background-color: #4F4F4F;
}

.dark {
  background-color: #4A4A4A;
}

.first-panel {
  border-top-left-radius: 8px;
}

.second-panel {
  margin-left: 100px;
}

.third-panel {
  border-top-right-radius: 8px;
  margin-left: 200px;
}

.fourth-panel {
  margin-top: 75px;
}

.fifth-panel {
  margin-top: 75px;
  margin-left: 100px;
}

.sixth-panel {
  margin-top: 75px;
  margin-left: 200px;
}

.seventh-panel {
  border-bottom-left-radius: 8px;
  margin-top: 150px;
}

.eighth-panel {
  margin-top: 150px;
  margin-left: 100px;
}

.ninth-panel {
  border-bottom-right-radius: 8px;
  margin-top: 150px;
  margin-left: 200px;
}

.invisible {
  opacity: 0;
}

.big-first-panel {
  position: absolute;
  width: 180px;
  height: 135px;
  background-color: #282c34;
  border: 1px solid white;
}

.big-second-panel {
  margin-left: 180px;
  position: absolute;
  width: 180px;
  height: 135px;
  background-color: #282c34;
  border: 1px solid white;
}

.big-third-panel {
  margin-top: 135px;
  position: absolute;
  width: 180px;
  height: 135px;
  background-color: #282c34;
  border: 1px solid white;
}

.big-fourth-panel {
  margin-left: 180px;
  margin-top: 135px;
  position: absolute;
  width: 180px;
  height: 135px;
  background-color: #282c34;
  border: 1px solid white;
}